html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: $text;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

section {
    margin-bottom: 100px;
}

.media {
    &__item {
        &:first-child {
            margin-bottom: 10px;
        }
    }

    &__btn {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;

        &::after {
            content: '';
            position: absolute;
            width: 35px;
            height: 35px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &--inst::after {
            background-image: url('../images/sprite.svg#inst');
        }

        &--facebook::after {
            background-image: url('../images/sprite.svg#facebook');
        }
    }
}

.copy {
    z-index: 1;
    width: 100%;
    position: absolute;
    padding-top: 35px;

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__logo-box {
        max-width: 310px;
        width: 100%;
    }

    &__logo {
        width: 155px;
        height: 40px;
        object-fit: cover;
        margin-bottom: 30px;
    }

    &__menu {
        display: flex;
        padding-top: 15px;
    }

    &__item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__btn {
        color: $white;
        text-transform: uppercase;
        font-size: 19px;
    }

}

.catalog-btn {
    display: block;
    width: 158px;
    padding: 10px 38px;
    border-radius: 10px;
    background: var(--linear-orange, linear-gradient(180deg, #FE8C00 0%, #F83600 100%));
    color: $white;
}

.contact-btn {
    padding: 15px 60px 15px 61px;
    border-radius: 10px;
    border: 2px solid $accent;
    color: $white;
}

.title {
    font-size: 172px;
    font-weight: 800;
    background: linear-gradient(180deg, #000 0%, rgba(141, 141, 141, 0.20) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 30px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50px;
        width: 13px;
        height: 111px;
        border-radius: 20px;
        background-color: $accent;

        box-shadow: 0px 0px 9.989999771118164px 0px #FB6201, 0px 0px 19.979999542236328px 0px #FB6201, 0px 0px 69.93000030517578px 0px #FB6201, 0px 0px 139.86000061035156px 0px #FB6201, 0px 0px 239.75999450683594px 0px #FB6201, 0px 0px 419.5799865722656px 0px #FB6201;

    }
}


.form-error {
    border-color: red;
}

.form-success {
    border-color: green;
}