<div class="footer">
    <div class="container">
        <div class="footer__top copy__top">
            <div class="footer__logo-box copy__logo-box">
                <a href=""><img class="footer__logo copy__logo" src="images/logo.png" alt=""></a>
                <a class="footer__catalog catalog-btn" href="">Каталог</a>
            </div>
            <ul class="footer__menu copy__menu">
                <li class="footer__item copy__item">
                    <button class="footer__btn copy__btn">Контакти</button>
                </li>
                <li class="footer__item copy__item">
                    <button class="footer__btn copy__btn">FAQ</button>
                </li>
            </ul>
            <button class="footer__contact-btn contact-btn">Замовити дзвінок</button>
        </div>

        <div class="footer__contacts">

            <div class="footer__location">
                <span class="footer__location-text">Львівська область, м. Кам’янка-БузькаВулиця Федьковича, 74</span>
                <span class="footer__location-text">Розробка сайтів: Another IT</span>
            </div>
            <div class="footer__media">
                <span class="footer__location-text">Львівська область, м. Кам’янка-БузькаВулиця Федьковича, 74</span>
                <span class="footer__location-text">Розробка сайтів: Another IT</span>
            </div>
        </div>
    </div>
</div>