<div class="footer">
    <div class="container">
        <div class="footer__box">
            <div class="footer__box-one">
                <a href="index.html"><img class="footer__logo" src="images/logo.svg" alt="логотип магазину"></a>
                <a class="footer__conect-btn" href="index.html#contact">Cконтактуйтесь з нами</a>
            </div>
            <div class="footer__box-one">
                <ul class="footer__navigation">
                    <li class="footer__navigation-item">
                        <a class="footer__navigation-btn" href="catalog-page.html">Каталог</a>
                    </li>
                    <li class="footer__navigation-item">
                        <a class="footer__navigation-btn" href="services-page.html">Сервіси</a>
                    </li> 
                    <li class="footer__navigation-item">
                        <a class="footer__navigation-btn" href="">Вподобані товари</a>
                    </li>
                    <li class="footer__navigation-item">
                        <a class="footer__navigation-btn" href="basket-page.html">Корзина</a>
                    </li>   
                </ul>
            </div>
            <div class="footer__box-one">
                <a href="tel:343243243243" class="footer__tell location-contacts__tell">+380(99)-999-99-99</a>
                <ul class="footer__media media">
                    <li class="footer__item media__item">
                        <a class="footer__media-btn media__btn media__btn--inst"
                            href="https://www.instagram.com/budbazakam/" target="_blank">
                            <span class="sr-only">Посилання для інстаграма</span>
                        </a>
                    </li>
                    <li class="footer__item media__item">
                        <a class="footer__media-btn media__btn media__btn--facebook"
                            href="https://www.facebook.com/p/%D0%93%D1%83%D1%80%D1%82%D1%96%D0%B2%D0%BD%D1%8F-%D0%91%D1%83%D0%B4%D0%B1%D0%B0%D0%B7%D0%B0-100041764590083"
                            target="_blank">
                            <span class="sr-only">Посилання для Фейсбука</span>
                        </a>
                    </li>
                    <li class="footer__item media__item">
                        <a class="footer__media-btn media__btn media__btn--location"
                            href="https://maps.app.goo.gl/japdadfRb5XbwSJa6?g_st=ic" target="_blank">
                            <span class="sr-only">Посилання на наше місце знаходження</span>
                        </a>
                    </li>
                </ul>
                <a class="footer__location"
                    href="https://www.google.com.ua/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%A4%D0%B5%D0%B4%D1%8C%D0%BA%D0%BE%D0%B2%D0%B8%D1%87%D0%B0,+74,+%D0%9A%D0%B0%D0%BC'%D1%8F%D0%BD%D0%BA%D0%B0-%D0%91%D1%83%D0%B7%D1%8C%D0%BA%D0%B0,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+80400/@50.1211918,24.3460268,17z/data=!3m1!4b1!4m6!3m5!1s0x472532a2fa3c18bb:0x25316f8ab74aa12a!8m2!3d50.1211884!4d24.3486017!16s%2Fg%2F11g1lgtjwf?hl=ru&entry=ttu"
                    target="_blank">м. Кам’янка-Бузька вул.Федьковича, №74
                </a>
                <a class="footer__location"
                    href="https://www.google.com.ua/maps/place/%D0%91%D1%83%D0%B4%D0%91%D0%B0%D0%B7%D0%B0/@50.2068476,24.3872429,19z/data=!4m9!1m2!2m1!1z0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCBj0LzRgi4g0JTQvtCx0YDQvtGC0LLRltGAINCy0YPQuy7QntC30LXRgNC90LAsIDI!3m5!1s0x47252e3c04484cf7:0x50f2bde53136ce2b!8m2!3d50.206977!4d24.3883516!16s%2Fg%2F11c46j749t?hl=ru&entry=ttu"
                    target="_blank">
                    cмт. Добротвір вул.Озерна, №2
                </a>
            </div>
        </div>
        <div class="footer__privecy">
            <span class="footer__privecy-text">©  2023 BudBaza.  All rights reserved.</span>
            <span class="footer__privecy-text"><a href=""> Privacy Policy</a> <a href="https://t.me/p_popov777" target="_blank">Розробка сайтів</a></span>
        </div>
    </div>
</div>