<section class="header">
    <div class="container">
        <div class="header__top">
            <div class="header__logo-box">
                <a href=""><img class="header__logo" src="" alt=""></a>
                <a class="header__catalog catalog-btn" href="">Каталог</a>
            </div>
            <ul class="header__menu">
                <li class="header__item">
                    <button class="header__btn">Контакти</button>
                </li>
                <li class="header__item">
                    <button class="header__btn">FAQ</button>
                </li>
            </ul>
            <button class="header__contact-btn contact-btn">Замовити дзвінок</button>
        </div>
    </div>
</section>
    
