<section class="header copy">
    <div class="container">
        <div class="header__top copy__top">
            <div class="header__logo-box copy__logo-box">
                <a href="index.html"><img class="header__logo copy__logo" src="images/logo.png" alt=""></a>
                <a class="header__catalog catalog-btn" href="">Каталог</a>
            </div>
            <ul class="header__menu copy__menu">
                <li class="header__item copy__item">
                    <a class="header__btn copy__btn" href="index.html#contact">Контакти</a>
                </li>
                <li class="header__item copy__item">
                    <a class="header__btn copy__btn" href="index.html#question">FAQ</a>
                </li>
                <li class="header__item copy__item">
                    <a class="header__btn copy__btn" href="blog-page.html">Блог</a>
                </li>
            </ul>
            <a class="header__contact-btn contact-btn" href="index.html#contact">Замовити дзвінок</a>
        </div>
    </div>
</section>
    
