<section class="header copy">
    <div class="container">
        <div class="header__top copy__top">
            <div class="header__logo-box copy__logo-box">
                <a href=""><img class="header__logo copy__logo" src="images/logo.png" alt=""></a>
                <a class="header__catalog catalog-btn" href="">Каталог</a>
            </div>
            <ul class="header__menu copy__menu">
                <li class="header__item copy__item">
                    <button class="header__btn copy__btn">Контакти</button>
                </li>
                <li class="header__item copy__item">
                    <button class="header__btn copy__btn">FAQ</button>
                </li>
            </ul>
            <button class="header__contact-btn contact-btn">Замовити дзвінок</button>
        </div>
    </div>
</section>
    
