.blog-cards {
    position: relative;

    padding-top: 100px;

    @include mxw($sm) {
        padding-top: 100px;
    }

    &__container {
        border-bottom: 1px solid $text;
        margin-bottom: 60px;

        @include mxw($xs) {
            border-top: transparent;
            margin-bottom: 30px;
        }
    }

    &__list {
        max-width: 1331px;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include mxw($vlg) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include mxw($sm) {
            gap: 15px;
        }

        @include mxw($xs) {
            gap: 0;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        max-width: 425px;
        display: none;

        &.active {
            display: block;
        }

        @include mxw($md) {
            margin-bottom: 30px;
            width: 100%;
            padding: 0 10px;
        }
    }

    &__img {
        width: 100%;
        height: 300px;
        background-color: $white;
        border: 1px solid $text;
        object-fit: cover;
        margin-bottom: 30px;

        @include mxw($sm) {
            margin-bottom: 10px;
        }
    }

    &__addtime {
        display: flex;
        margin-bottom: 10px;
    }

    &__addblock {
        position: relative;
        padding-right: 25px;


        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            background-color: $accent;
            transform: rotate(15deg);
            right: 10px;
        }

        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }

        span {
            @include mxw($sm) {
                font-size: 16px;
            }
        }
    }



    &__name {
        display: block;
        color: $text;
        font-size: 22px;
        margin-bottom: 40px;
        @include line-clamp(1);

        @include mxw($sm) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    &__btn {
        color: $white;
        font-size: 19px;
        color: $accent;
        text-transform: uppercase;
        text-align: left;
        width: 100%;

        @include mxw($sm) {
            font-size: 18px;
        }
    }

    &__load {
        display: flex;
        justify-content: center;
        margin-bottom: 66px;

    }

    &__content-btn {
        position: relative;
        color: $text;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        color: #4e4e4e;
        padding: 0 40px;

        @include mxw($sm) {
            font-size: 20px;
        }


        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: $accent;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            right: 0;
        }

        &::before {
            left: 0;
        }
    }


    &__popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1331px;
        width: 100%;
        background-image: url('../images/bg.png');
        background-color: $white;
        z-index: 1001;
        padding: 40px 40px 70px;

        &.active {
            display: block;
        }

        @include mxw($md) {
            padding: 30px 15px;
            margin: 0 auto;
        }

        @include mxw($sm) {
            margin: 0 auto;
        }
    }

    &__popup-close {
        position: absolute;
        width: 35px;
        height: 35px;
        right: 20px;
        top: 20px;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 4px;
            left: 0;
            background-color: $accent;
            transition: transform .3s linear;
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }

        @include mxw($xs) {
            width: 20px;
            height: 20px;
            right: 10px;
            top: 10px;

            &::after,
            &::before {
                width: 20px;
                height: 2px;
            }

        }
    }

    &__popup-name {
        display: inline-block;
        position: relative;
        padding-right: 80px;
        color: $text;
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 42px;

        &::after {
            content: '';
            position: absolute;
            width: 60px;
            height: 3px;
            background-color: $accent;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        @include mxw($sm) {
            font-size: 20px;
            margin-bottom: 20px;
        }

        @include mxw($xs) {
            text-align: left;
            padding-right: 0;
            &::after{
                display: none;
            }
        }
    }

    &__popup-info {
        display: flex;
        justify-content: space-between;

        @include mxw($lg) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        @include mxw($md) {
            flex-wrap: wrap;
        }

        & > :nth-child(1){
            @include mxw($lg) {
                order: 2;
            }
        }
    }


    &__popup-img {
        width: 375px;
        height: 375px;
        object-fit: cover;
        background-color: #aaa;
        margin: 0 20px 30px 0;

        @include mxw($lg) {
            display: none;
        }
    }

    &__media {
        display: flex;
    }

    &__media-item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__media-btn {

        &::after {
            filter: invert(52%) sepia(62%) saturate(4058%) hue-rotate(2deg) brightness(100%) contrast(100%);
        }

        &--tell {
            &::after {
                filter: invert(46%) sepia(38%) saturate(5437%) hue-rotate(1deg) brightness(101%) contrast(105%);
            }
        }
    }

    &__popup-text {

        max-height: 475px;
        overflow-y: auto;
        width: 65%;

        p {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            @include mxw($vlg) {
                margin-bottom: 20px;
            }

            @include mxw($xs) {
                margin-bottom: 10px;
            }
        }

        @include mxw($vlg) {
            max-height: 400px;
            max-width: 580px;
        }

        @include mxw($lg) {
            max-width: 100%;
            width: 100%;
            order: 1;
            margin-bottom: 30px;
        }

        @include mxw($xs) {
            font-size: 12px;
        }
    }
}